<div class="my-trips-events-page">
{{#if userInSession}}

  <div class="trip-container">

    <div class="trip-card">
      <h3 class="trip-card-title">Trip Name: {{this.tripName}}</h3>
      <h5 class="trip-card-description">Description: {{this.description}}</h5>
      <img src="{{this.image}}" class="trip-card-image" alt="trip image" />

      {{#each event}}

        <h4 class="event-title">Event:</h4>
        <h5 class="event-name">{{eventName}}</h5>
        <img src="{{image}}" class="event-image" alt="Event Picture" />
        <h6 class="event-description">Description: {{description}}</h6>

      {{/each}}

      <a href="/user-profile" class="back-to-trips-btn">Back to My Trips</a>
    </div>

  </div>

{{else}}
  <p class="text-center">Still no logged in user, sorry!</p>
{{/if}}
</div>